<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--Comma seperated list, where the email gets sent too-->
    <add key="EmailRecipients" value="jleonard@openboxsoftware.com" />
    <!--Application URL's-->
    <add key="BaseUrl" value="http://www.google.com" />
    <add key="SharePointUrl" value="http://tsapps-cdt/itrs/Portlet/PortalGadget.aspx" />
    <add key="MobileUrl" value="http://www.google.com" />
    <!--Environment that will be used for reporting-->
    <add key="Environment" value="Test" />
    <!--This is the temp Directory where all outputs will be stored, such as test video, test report and screenshots-->
    <!--This directory must be what you add to the Jenkins job as this is archived as the test report-->
    <add key="TempDirectory" value="C:\Reports\"></add>
    <!--Browser selection-->
    <add key="BrowserType" value="FireFox" />
    <!--Time that the browser needs to wait before it fails a test-->
    <add key="ResponseTimeInSeconds" value="10" />
    <!--Path to selenium server that is located on the P Drive. If you update the webdriver.dll you will need to update these aswell-->
    <add key="PathToDesktopIeDriver" value="C:\Automation Tests\Selenium Server" />
    <!--Path to the selenium grid server-->
    <add key="SeleniumGridServerPath" value="http://127.0.0.1:4444/wd/hub" />
    <!--Path to the XML that contains the devices size metrics. This can be moved into the solution but is located on the P Drive for standards sake-->
    <add key="PathToDevicesXML" value="P:\Automation Tests\Selenium Server\Devices.xml" />
    <!--This key is too activate video recording for the UI tests. Value can either be True or False-->
    <add key="VideoRecording" value="False" />
    <!--Path to vlc.exe on test machine. This is the default instalation path-->
    <add key="PathToVLC" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
    <!--Resolution of device that the tests will be running on-->
    <add key="ScreenResolution_Width" value="1920" />
    <add key="ScreenResolution_Height" value="1080" />
  </appSettings>
  <connectionStrings>
    <!--Test Environemt-->
    <add name="ITRS" connectionString="Data Source=OBTSSQL04\CDT$TEST2;Initial Catalog=ITRS;Integrated Security=True" />
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>